In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("lab06.ipynb")

# Lab 6: Functions, Groups, Pivot, and Join 

Welcome to Lab 6! 

We are moving into additional functions with tables. 

The [Python Reference](https://pages.mtu.edu/~lebrown/data1202-s24/reference/index.html) has information that will be useful for this lab.

**Recommended Reading**:
 * [Functions and Tables](https://inferentialthinking.com/chapters/08/Functions_and_Tables.html)
 * [Apply](https://inferentialthinking.com/chapters/08/1/Applying_a_Function_to_a_Column.html)
 * [Group](https://inferentialthinking.com/chapters/08/2/Classifying_by_One_Variable.html)
 * [Pivot](https://inferentialthinking.com/chapters/08/3/Cross-Classifying_by_More_than_One_Variable.html)
 * [Join](https://inferentialthinking.com/chapters/08/4/Joining_Tables_by_Columns.html)


**Submission**: Once you’re finished, run all cells besides the last one, select File > Save Notebook, and then execute the final cell. Then submit the downloaded zip file, that includes your notebook,  according to your instructor's directions.

In [ ]:
from datascience import *
import numpy as np

import warnings
warnings.simplefilter('ignore')

# Movie Data 

Today we will be exploring some more complex table methods we can use! The `apply`, `group`, `pivot`, and `join` methods all allow us to perform different queries on our familiar tables. Understanding not only *how* each method works, but also *why* and *when* to use them are the key takeaways from this lab; by the end of it, we will be able to query tables in some pretty cool ways!

These new methods allow us to do different operations than before. As such, it is becoming more and more important to remember how each method sits on our Data Science toolbelt. We should think of each new method as a **tool that serves a specific purpose**. Your job as a data scientist is not only to understand what each tool does, but when each tool is applicable in new situations!

In this lab, we'll be working with a `movies` data set that contains information about various American films over time. It contains the following columns:
1. `"Film"`: The name of the movie
2. `"Genre"`: The genre of the movie
3. `"Year"`: The year the movie was released
4. `"Lead Studio"`: The primary movie studio responsible for producing the movie
5. `"Audience score %"`: The score, out of 100%, given to the movie by viewers
6. `"Rotten Tomatoes %"`: The score, out of 100%, given to the movies by the website [Rotten Tomatoes](https://www.rottentomatoes.com/)
7. `"Worldwide Gross (Millions)"`: The total gross revenue, in millions of dollars, that the movie made
8. `"Quality"`: Descriptive ranking of the movie based on audience score

We will use a new table, `movies`, to get practice with the more advanced table methods.

### Load table from the file 

**Question 1.1** 
Load the data file into a table called `movies`.

In [ ]:
movies = ...
movies.show(5)

In [ ]:
grader.check("q11")

**Question 1.2** The `movies` table includes two percentages, `"Audience score %"` and `"Rotten Tomatoes %"`.  Create a function `average_score` that returns the average of these two percentages.

In [ ]:
def average_score(audience_score, rt_score): 
    "Computes the average between the audience score and Rotten Tomatoes score" 
    ...

In [ ]:
grader.check("q12")

## The [apply](https://www.data8.org/datascience/reference-nb/datascience-reference.html#tbl.apply()) method

The `apply` method allows us to map a function's behavior onto an entire column of a table. We can use built-in Python functions (like `max`) or we can define our own functions and then *apply* those functions to the columns of a table.

The `apply` method takes at least 2 arguments. The first is a function, and the rest are as many column labels you need to run that function. The number of columns you need to specify is dependent on the number of arguments the function has. For example, if the function you provide needs two inputs, you need to list two columns for it to work on.

`apply` returns a NumPy array of the transformed values. We can ask questions like "How can I categorize the items in this column?" (like converting grade percentages into letter grades from lecture). We can also make modifications to a table, like rounding all the values in a column to a certain accuracy.

**Question 1.3** Add a new column called `"Average score %"` and populate it with the information we just assigned to `average_scores`. We'll re-assign this new table to `movies_ave_score`.

In [ ]:

movies_ave_score = movies.<> 

movies_ave_score.show(5)

In [ ]:
grader.check("q13")

**Question 1.4**: Fill in the function `convert_to_dollars` which converts a dollar amount from *millions of dollars* to *dollars*. Then, use the `apply` method to convert all values from the `"Worldwide Gross (Millions)"` column into dollars. Finally, create new table `movie_gross` that adds a new column to the `movies` table called `"Worldwide Gross"` using the array resulting from your call to `apply`.

*Note*: The code for this question requires several steps.

In [ ]:

def convert_to_dollars(dollar_millions):
    "Converts a dollar amount from millions of dollars to dollars"
    ...

dollars = ...
movies_gross = ...

movies_gross.show(5)

In [ ]:
grader.check("q14")

## The [group](https://www.data8.org/datascience/reference-nb/datascience-reference.html#tbl.group()) method

The `group` method is very helpful for organizing a table before asking more questions about it. you can think of the `group` method as organizing rows into bins based on one of their values. All the rows that share a column value go in the same bin! 

`group` takes in 1-2 arguments. The first is a column label to group by, and the second is an optional function argument to group on, which defaults to counting the number of rows in the bin. We will see some examples of how this optional argument works below.

**Question 1.5** Let's use the `group` method to organize our movies by `Genre` so that we can see which genres are in our table.

In [ ]:
movies_by_genre = ...
movies_by_genre

In [ ]:
grader.check("q15")

**Question 1.6**: What if we want to group by movie *quality*? Fill in the following cell with code that will assign `quality_groups` to a grouped table based on the `"Quality"` column.

In [ ]:
quality_groups = ...
quality_groups

In [ ]:
grader.check("q16")

#### Shortcomings of `collect` argument

Let's say we want to see the average `"Audience Score %"` of each bin, we can use `np.mean` or `np.average`. We cannot specify which column we want the average of. As you can see, the `group` method will take the average of every column. For columns where it is **possible to take the average** (columns with the correct input type), it does so. For columns where taking the average doesn't work (with strings in this case), Python outputs nothing for those column averages.

Also, the column labels in this new table now have `average` at the end **except** the column label you grouped on. The name of the function you choose to group on will appear at the end of every label in the resulting table. **Like most table methods, the original table you are grouping does not change unless you reassign it**.

To get only the column we wanted the average of, we can use the `select` method to get the `Quality` and the `Audience score % average`:


**Question 1.7**: Create a table `quality_ratings` with the average `"Audience score %"` of each bin of `"Quality"`.  No other columns should be in this new table.

In [ ]:
quality_ratings = ...

quality_ratings

In [ ]:
grader.check("q17")

**Question 1.8:** The table defaults to sort on the column you grouped on, which in this case is alphabetical order for strings. Oscar asks you to sort the `quality_ratings` table in decreasing order based on the average audience score. 

Write a line of code below that assigns `ratings_sorted` to a table that matches Oscar's request.

In [ ]:
ratings_sorted = ...
ratings_sorted

In [ ]:
grader.check("q18")

**Question 1.9 (Do Well-Liked Movies Make Money?)**: After hearing that you have a handy `movies` table, Rebecca asks you the following question:
>*Do well-liked movies make money?*

It's your job to answer Rebecca's question. To do so, create a new table called `money_by_quality` with the following **two columns**:
1. `"Quality"`: String describing the quality of a given movie
2. `"Worldwide Gross (Millions) mean"`: The average gross revenue for each movie quality

*Hint*: You may find the previous calls to `group` helpful.

In [ ]:
money_by_quality = ...
money_by_quality

In [ ]:
grader.check("q19")

## The [pivot](https://www.data8.org/datascience/reference-nb/datascience-reference.html#tbl.pivot()) method

The `pivot` method allows us to see the *intersection* of two of our column labels. `pivot` essentially sorts the contents of the dataset based on the combination of the two column labels you pivot on. All the table's rows that share values in the pivoting columns all go into the same bin, and this happens for all combinations of the first and second column you are pivoting on.

The `pivot` method has 4 important arguments, 2 of which are mandatory and 2 of which are optional:

| **Argument** | **Description** |
| --- | --- |
| `columns` | The label whose unique values will appear as the **columns** of the outputted pivot table |
| `rows` | The label whose unique values will appear as the **rows** of the outputted pivot table |
| *Optional:* `values` | Values to use when aggregating |
| *Optional:* `collect` | Function used to aggregate the `values` provided in the previous argument |

You must use the two `values` and `collect` arguments together, one does not work without the other.


The best way to understand how `pivot` works is to look at some examples and talk about what happens. Here we will pivot the `movies` table on its `Genre` and `Quality` column labels to see how many of each type of *genre* are in each category of *quality*:

In [ ]:
genre_quality_pivot = movies.pivot("Genre", "Quality")
genre_quality_pivot

The way we can read this table is almost how we read a graph in a math class. To see how many **Good Comedies** there are, we look at the row corresponding to `Good` and the column corresponding to `Comedy`, so there are 18 **Good Comedies**.

The default behavior of `pivot` is to just count the rows that appear at each intersection of the pivot. However, we can ask it to count another value in the table using any function we want! For example, if we want to know **the maximum amount of money** each intersection made instead of **how many** movies appear in each intersection, we can do that as well!

In [ ]:
genre_quality_average_grosses = movies.pivot("Genre", "Quality", values="Worldwide Gross (Millions)", collect=max)
genre_quality_average_grosses

Based on this small dataset, it seems that the highest grossing film is not actually a "Great" film but rather a "Good" one. Run the following cell to find out what film it actually is!

In [ ]:
movies.where("Worldwide Gross (Millions)", 709.82)

**Question 1.10 (Does Studio Matter?)**: Now, let's write a query that can tell us what genre of movie each studio tends to make, and how much those movies made in total. We can use the `pivot` method just like we did above to see the breakdown of movies by studio and genre, and then aggregate those rows by adding up the worldwide gross of each intersection!

Assign `column_label` and `row_label` to column labels of `movies_with_qualities` that make the resulting `pivot` call have studios as the rows and genres as the columns.

Assign `values_to_collect` to a column label that we can use to collect the data we need to ultimately see the total amount of money made by each intersection of genre and studio.

Assign `collection_function` to a function you know that can add up all the movie earnings at each intersection

In [ ]:
column_label = ...
row_label = ...
value_to_collect = ...
collection_function = ...

studio_genre_total_gross = movies.pivot(column_label, row_label, value_to_collect, collection_function)
studio_genre_total_gross

In [ ]:
grader.check("q110")

## The [join](https://www.data8.org/datascience/reference-nb/datascience-reference.html#tbl.join()) method

The last method we will talk about in this lab is the `join` method. This method allows us to combine two different tables together!

The `join` method takes in 2 mandatory arguments and 1 optional argument:

| **Column Name** | **Description** |
| --- | --- |
| `column_label` | a column to use to join |
| `other` | another table |
| *Optional:* `other_label` | `other`'s label to join on (if not the same as `column_label`) |

If `other` has a label in common with the table you are joining with and this common label is the one you want to join on, then you do not need to use the optional argument. If you want to join on another column label or if neither table has a column label in common, then you can use the optional `other_label`.

The way join works takes some getting used to, so let's look at some examples of `join` at work!

We have the `dogs` and `owners` tables below, take a look at them a bit before we move on so you understand what data they contain:

In [ ]:
dogs = Table().with_columns(
    "Name", np.array(["Spot", "Rex", "Fluffy", "Doge"]),
    "Breed", np.array(["Golden Retriever", "Cockapoo", "Corgi", "Coin"]),
    "Owner", np.array(["James", "Will", "Josh", "Sandra"]),
)
dogs

In [ ]:
owners = Table().with_columns(
    "Owner", np.array(["James", "Josh", "Sandra", "Will"]),
    "Owner Age", np.array([18, 21, 20, 21])
)
owners

As you can see, we have a column in common: `Owner`. Let's join these two tables together so that we can have all the doggy data in one place!

In [ ]:
doggy_data = dogs.join("Owner", owners)
doggy_data

This table now has all of our information in one place, which makes using it easier!

Now let's take a look at a more common example, where the column labels being named differently can cause a problem. We will use the exact same `dogs` and `owners` tables, but we will change a column label on `owners`:

In [ ]:
owners_new_label = owners.relabeled("Owner", "Name")

display(dogs, owners_new_label)

We have to make sure we join on the `Owner` column from `dogs` and the `Name` column from `owners`! We can do this using the third *optional* argument in the `join` method:

In [ ]:
doggy_data = dogs.join("Owner", owners_new_label, "Name")
doggy_data

**Question 1.11 (A Slightly Different `Join`)**: The `join` method can also change the number of rows in its output. If there are multiple rows in one table that match with one row in the other, the `join` method will include rows for each of these matches in the output. Also, if there is a row in a table with no match in the other, there will be no row in the output that represents this row. Let's implement both these situations in practice and see how they work:

In [ ]:
# Just run this cell
# This new dogs table has a new extra dogs
more_dogs = dogs.with_rows(make_array(make_array("Clifford", "Big Red", "Sandra"), make_array("Doug", "Golden Retriever", "Russell")))
more_dogs

**Task**: Before we exectute the join between these tables, we should be able to calculate how many rows should there be in the output. Assign the variable `more_dog_owner_rows` to the number of rows that should result from joining `more_dogs` with `owners_new_label`. Run the cell below to see them again for clarity:

In [ ]:
more_dog_owner_rows = ...
print(more_dog_owner_rows)

complex_doggy_data = ...
complex_doggy_data

In [ ]:
grader.check("q111")

---

# Chains 

We will explore 2020 restaurant rankings from [Restaurant Business Online](https://www.restaurantbusinessonline.com) (RBO). The `chains` table contains information about the 250 largest restaurant chains in the US, sorted by sales `'Sales'` in decreasing order. 

Run the cell below to take a look at the `chains` table, and [click here](https://www.restaurantbusinessonline.com/top-500-2020) to see the ranking on RBO's website.

*Note*: Here, sales are measured in millions, so McDonald's sales value of `40412` really means \$40.4 billion dollars.

In [ ]:
chains = Table.read_table('Top250.csv')
chains

Let's start by asking questions about the `chains` table. The `chains` table has many columns that we aren't going to look at. Below, we've modified `chains` so that it only has the columns `'Rank'`, `'Restaurant'`, `'Sales'`, `'YOY_Sales'`, and `'Segment_Category'`.

In [ ]:
# Just run this cell
chains = chains.select('Rank', 'Restaurant', 'Sales', 'YOY_Sales', 'Segment_Category')
chains

**Question 2.1** Below, assign `segment_counts` to a table with two columns, `'Segment_Category'` and `'count'`. Each row should correspond to one `'Segment_Category'`, and `'count'` should describe the number of restaurants with that `'Segment_Category'` in `chains`. Your table should be sorted by `'count'` in decreasing order, so that the first row corresponds to the most common segment category.

The first five rows of `segment_counts` should look like this:

| Segment_Category       |   count |
|-----------------------:|--------:|
| Varied Menu            |      22 |
| Mexican                |      14 |
| Quick Service & Burger |      13 |
| Burger                 |      10 |
| Family Style           |      10 |

In [ ]:
segment_counts = ...


segment_counts

In [ ]:
grader.check("q21")

In the previous question, we determined that the segment category that appeared most often was `'Varied Menu'`. It's not immediately obvious what that means!

**Question 2.2**  Below, assign `varied_menu_only` to a table with only the rows in `chains` where the segment category was `'Varied Menu'`. Don't sort or make any other modifications.

In [ ]:
varied_menu_only = ...
varied_menu_only

In [ ]:
grader.check("q22")

So far, we haven't really looked at the `'YOY_Sales'` column in `chains`. Remember, the values in `'YOY_Sales'` tell us the percentage change in sales from 2019 to 2020 for each restaurant chain (YOY means "Year-over-Year"); a `'YOY_Sales'` value of 8.6% means the restaurant earned 8.6% more in sales in 2020 than it did in 2019.

In [ ]:
# Outputs the first 'YOY_Sales' value in our `chains` table
chains.column('YOY_Sales').item(0)

Since the values in the `'YOY_Sales'` column are stored as strings, not numbers, we can't reliably sort by `'YOY_Sales'`. (Try it out – if you sort by `'YOY_Sales'` in decreasing order, it will tell you the highest `'YOY_Sales'` any restaurant had was 9.9%, though there are several restaurants with `'YOY_Sales'` values of over 10%.)

We're going to try something different. Instead of converting `'YOY_Sales'` into a number, we're going to place the values in `'YOY_Sales'` into one of five categories:

| Growth Category | Year-over-Year Sales (\%) |
| --- | --- |
| `'rapid increase'` | $\geq 10$ |
| `'steady increase'` | $[2.5, 10)$ |
| `'stagnant'` | $[-2.5, 2.5)$ | 
| `'steady decrease'` | $[-10, -2.5)$ |
| `'rapid decrease'` | $< -10$ |

*Note*: If you're not familiar with this notation, $[a, b)$ means greater than or equal to $a$ and less than $b$.

### `str_to_cat`  function 

To help you out, we've defined a function, `str_to_cat`, that takes in a percentage string and returns the corresponding growth category according to the above table. Example behavior is shown below.

```python
>>> str_to_cat('-15.8%')
'rapid decrease'

>>> str_to_cat('4.8%')
'steady increase'
```

In [ ]:
# Just run this cell to load the function
def str_to_cat(pct_str):
    """Converts a percent string to a category"""
    pct_float = float(pct_str.replace('%', ''))
    category_dict = {
        'rapid increase': 10,
        'steady increase': 2.5,
        'stagnant': -2.5,
        'steady decrease': -10,
        'rapid decrease': -100
    }
    
    for cat, val in category_dict.items():
        if pct_float >= val:
            return cat

**Question 2.3**: Your job is to apply the `str_to_cat` function to the appropriate column in `chains` so that an array of growth categories is returned. Then, create a new table called `chains_growth` with all of the columns in `chains` *plus* a new sixth column, `'Growth Category'`, with the aforementioned array.

In [ ]:
chains_growth = ...
chains_growth

In [ ]:
grader.check("q23")

We've created a new table, `common_chains`, which contains the same labels as `chains_growth`, but only with chains whose segment category is shared by at least 9 other chains (i.e. only the segment categories that have 10 or more restaurants). Run the following cell to load the `common_chains` table.

In [ ]:
common_chains = Table.read_table("common_chains.csv")
common_chains

**Question 2.4** Pivot `common_chains` to create a new table, `common_chains_pivoted`, with a row for each segment category and a column for each growth category. The entries in `common_chains_pivoted` should describe the **average ranking** for a given combination of segment category and growth category.

Order the "Growth category" so that it goes in order from `rapid decresase`, `steady decrease`, `stagnant`, `steady increase`, `rapid increase`.

In [ ]:
common_chains_pivoted = common_chains.pivot("Growth Category", "Segment_Category",  "Rank", np.average).select(0, 1, 4, 3, 5, 2)
common_chains_pivoted

In [ ]:
grader.check("q24")

# Submission 

**Important submission steps:** 
1. Run the tests and verify that they all pass.
2. Choose **Save Notebook** from the **File** menu, then **run the final cell**. 
3. Click the link to download the zip file.
4. Then submit the zip file to the corresponding assignment according to your instructor's directions. 

**It is your responsibility to make sure your work is saved before running the last cell.**

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)